{% extends 'base.html' %}

{% block content  %}
     

   
     <div class="intro">
        <h2 class="text-center"> Form </h2>
        <p class="text-center"> Add a new product </p>
     </div>
          
             
               
          
     <div class="container">
          
          <form action="#" method="POST">
               {% csrf_token %}
               {{obj.as_p}}
          <input type='submit' class="btn btn-primary" value='Add'>
          </form>
     </div>
     
  
  

{% endblock %}
